<div id="carList">
    <h3>Select A Car</h3>
    <div id="scrollDiv">
        <table>
            <tr>
                <th colspan=2>Car</th>
                <th>Status</th>
                <th>Type</th>
                <th>Password</th>
                <th>Description</th>
            </tr>
            {{range $i, $car := .Cars}}
                {{if eq $car.Status "available" }}
                    <tr id="carEntry{{$i}}" onclick="selectCar(this);" hx-get="/car_select?track={{$car.TrackShortName}}&car={{$car.ShortName}}" hx-target="#selectCarDiv" hx-swap="outerHTML" hx-trigger="carSelected">
                {{else}}
                    <tr id="carEntry{{$i}}">
                {{end}}        
                        <td  style="text-align: left;">
                            <img class="tracklogo" src="{{$car.Logo}}" alt="gopher driving">
                        </td>
                        <td>{{$car.Name}}</td>
                        <td>{{$car.Status}}</td>
                        <td>{{$car.Type}}</td>
                        <td>{{$car.HasPassword}}</td>
                        <td>{{$car.Description}}</td>
                    </tr>
            {{end}}
        </table>
    </div>
    <div id="bottomNavDiv">
        <div id="backTrackList">
            <input id="changeTrackButton" type="button" value="Change Track" hx-get="/track_list" hx-target="#mainContainer" hx-swap="innerHTML"  style="margin: 10px;">
        </div>
        <div id="selectCarDiv">
            <input id="selectCarButton" type="button" value="Select Car" style="margin: 10px;" disabled>
        </div>
    </div>
</div>