<div id="register">
    <span>Successfully Registered!</span>
    <div><input id="home" type="button" value="Login" hx-get="/loginorregister" hx-target="#mainContainer" hx-swap="innerHTML"></div>
</div>